{% extends "@QbaBitCore/Form/edit.html.twig" %}
{% block form_inner %}
    <div class="row nmlf">
        <div class="col-md-8">
            {{ form_row(form.name, {'attr':{'class': 'form-control'} }) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.zip_file) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.description) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.price) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.category) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.images) }}
        </div>


    </div>


{% endblock %}