{% extends showListType=="list"?"QbaBitCoreBundle:Form:list.html.twig":"QbaBitCoreBundle:Form:view.html.twig"  %}
 {% block search_columns %}
     <div class="col-md-9">
         <div class="form-group">
             {{ form_label(searchForm.name) }}
             {{ form_widget(searchForm.name) }}
         </div>
     </div>
     <div class="col-md-3">
         <div class="form-group">
             <label style="display: block;">&nbsp;</label>
             {{ form_row(searchForm.submit) }}
         </div>
     </div>

 {% endblock %}

{% block dropdown_options %}

    {% if is_granted( role.install ) %}
        <li>
            <a href="{{ path(url.install, {"fromTemplate":1}) }}" class="new"
               style="height: auto;"><i
                        class="fa fa-plus-square"></i>{{ 'install' | trans({}, 'template') }}
            </a>
        </li>
    {% endif %}
        {% if is_granted(role.uninstall_do_all ) %}
            <li>
                <a href="#" class="del"><i
                            class="fa fa-trash-o"></i>{{ 'uninstall' | trans({}, 'template') }}
                </a>
            </li>
        {% endif %}
    {% if is_granted(role.show ) %}
        <li>
            <a href="#" class="show"><i
                        class="fa fa-edit"></i>{{ 'show' | trans({}, 'template') }}
            </a>
        </li>
    {% endif %}

{% endblock %}
 {% block columns %}
     <th>{{ 'images' | trans({}, 'template') }}</th>
         <th>{{ knp_pagination_sortable(data, 'name' | trans({}, 'template'), 'c.name', {'direction': 'desc'}) }}</th>

         <th>{{ 'price' | trans({}, 'template') }}</th>

         <th>{{ 'category' | trans({}, 'template') }}</th>


 {% endblock %}
  {% block rows %}
      {%  if showListType =="list" %}
      {% for qb_template_row_org in searchForm.listData.rows %}
          {% set  qb_template=qb_template_row_org.vars.data  %}
          {% set qb_template_row =qb_template_row_org.children["checked"]  %}

          <tr id="rw{{ qb_template.id }}">
              <td>
                  {{ form_widget(qb_template_row) }}
              </td>
              <td>
                  {{ form_widget(qb_template_row_org.children["images"]) }}
              </td>
              <td>
                  {% if is_granted(role.show) %}
                      <a href="{{ path(url.show, {'id': qb_template.id}) }}"
                         class="edit">{{ qb_template.name }}</a>
                  {% else %}
                      {{ qb_template.name }}
                  {% endif %}
              </td>

              <td>{{ qb_template.price }}</td>
              <td>{{ qb_template.category.name }}</td>

          </tr>
      {% else %}
          <tr>
              <td colspan="12">{{ 'no_records_founds' | trans({}, 'qbabitcore') }}</td>
          </tr>
      {% endfor %}
{% else %}
    {% for qb_template_row_org in searchForm.listData.rows %}
        {% set  qb_template=qb_template_row_org.vars.data  %}
        {% set qb_template_row =qb_template_row_org.children["checked"]  %}
        <div class="col-md-3 col-sm-4 content-prod" id="rw{{ qb_template.id }}">
            <div class="box box-primary box-producto">
                {% if is_granted(role.uninstall_do) or is_granted(role.show) %}
                  <div class="box-header with-border">
                        <h3 class="box-title"></h3>

                        <div class="box-tools pull-right">
                              {% if is_granted(role.show) %}
                                <a class="edit"
                                   href="{{ path(url.show, { 'id': qb_template.id } | merge(paramsUrl)) }}">
                                    <button type="button" class="btn btn-box-tool"><i class="fa fa-pencil"></i>
                                    </button>
                                </a>
                            {% endif %}
                            {% if is_granted(role.uninstall_do) %}
                                {{ form_widget(qb_template_row) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <!-- /.box-header -->
                <div class="box-body content-product">
                    <div class="image-product">
                        <a  class="edit"
                            href="{{ path(url.show, { 'id': qb_template.id } | merge(paramsUrl)) }}">
                            {{ form_widget(qb_template_row_org.children["images"]) }}
                        </a>

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a  class="edit"
                               href="{{ path(url.show, { 'id': qb_template.id } | merge(paramsUrl)) }}">{{ qb_template.name| raw }}
                                <span class="pull-right text-green"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer -->
            </div>
        </div>
    {% else %}
        <div class="margin no-print">
            {{ 'no_records_founds' | trans({}, 'qbabitcore') }}
        </div>

    {% endfor %}
{% endif %}

      <script>
          function QbabitLanguageJavascripts() {


              jQuery('#{{ searchForm.listData.all.vars.id }}').on('ifToggled', function () {
                  MKLib.checkedCtrl(jQuery(this), '.selitm', function (status, ele) {
                      ele.iCheck(status ? 'check' : 'uncheck');
                  });
              });
              jQuery('.show').on('click', function (e) {
                  e.preventDefault();
                  var list = jQuery('#{{ searchForm.vars.id }} .selitm:checked');
                  if (list.length) {
                      $("#rw"+list.val()).find("a").click();

                  }
                  else
                      MKLib.showMsg('alert-danger', "{{ 'js_seleccionar_elemento' | trans({}, 'qbabitcore') }}");

              });
              {% if is_granted(role.uninstall_do_all ) %}
              jQuery('.del').on('click', function (e) {
                  e.preventDefault();
                  var list = jQuery('#{{ searchForm.vars.id }} .selitm:checked');
                  if (list.length) {
                      if (confirm("{{ 'js_uninstalar_seleccionados' | trans({}, 'template') }}")) {
                          MKLib.AjaxRequest("{{ path(url.uninstall_do_all) }}", '{{ searchForm.vars.id }}', function (j) {

                              var status = parseInt(j.status);
                              if (status === 1) {
                                  MKLib.deleteItem(j.ids, function () {
                                      MKLib.showMsg('alert-success', "{{ 'js_uninstalar_correctamente' | trans({}, 'template') }}");
                                  }, 'rw');
                              } else {
                                  if (status === 2)
                                      MKLib.showMsg('alert-danger', "{{ 'js_acceso_denegado' | trans({}, 'qbabitcore') }}");
                                  else
                                      MKLib.showMsg('alert-danger', "{{ 'js_error_desinstalar' | trans({}, 'template') }}");
                              }
                              MKLib.unlockScreen();

                          }, 'json', 'DELETE');
                      }
                  } else
                      MKLib.showMsg('alert-danger', "{{ 'js_seleccionar_elemento' | trans({}, 'qbabitcore') }}");
              });
              {% endif %}
          }
              {% if app.request.isXmlHttpRequest == false %}
              window.addEventListener('load', function () {
                  QbabitLanguageJavascripts();
              }, false);
              {% else %}
              jQuery(function () {
                  QbabitLanguageJavascripts();
              });
          {% endif %}
      </script>



  {% endblock %}
