{% extends "QbaBitCoreBundle:Form:list.html.twig"  %}
{% set tit1 = 'list_X' | trans({'%name%': "Plantilla disponibles a instalar" }, 'qbabitcore') %}
{% set paramsUrl = {'slugSelected': app.request.get('slugSelected')} %}
{% set fake = QbaBitSeoTitle(tit1) %}
{% block title_inner %} {{ tit1 }} {% endblock %}
 {% block search_columns %}
     <div class="col-md-9">
         <div class="form-group">
             {{ form_label(searchForm.name) }}
             {{ form_widget(searchForm.name) }}
         </div>
     </div>
     <div class="col-md-3">
         <div class="form-group">
             <label style="display: block;">&nbsp;</label>
             {{ form_row(searchForm.submit) }}
         </div>
     </div>

 {% endblock %}


   {% block post_rows %}
<div class="qb-btn-formater">
    {% if returnButton!=null %}
       {{ form_start(returnButton) }}
       {{ form_widget(returnButton) }}
       {{ form_end(returnButton) }}
    {% endif %}
</div>
   {% endblock %}
 {% block dropdown_options %}
     {% if is_granted(role.install_do_all ) %}
         <li>
             <a href="#" class="del"><i
                         class="fa fa-plus-square"></i>{{ 'install' | trans({}, 'template') }}
             </a>
         </li>
     {% endif %}
 {% endblock %}
 {% block columns %}

     {% if error is defined %}
  <th>{{ 'name'| trans({}, 'language') }}</th>

{% else %}
     <th>{{ knp_pagination_sortable(data, 'name' | trans({}, 'language'), 'c.name', {'direction': 'desc'}) }}</th>
    <th style="text-align: center">{{ 'installed'| trans({}, 'template') }}</th>
     {% endif %}
 {% endblock %}
  {% block rows %}
      {% if error is defined %}
          <tr>
              <td colspan="12">{{ 'error' | trans({"error":errorMsg}, 'template_install') }}</td>
          </tr>
{% else %}
      {% for qb_templates_install_row in searchForm.listData.rows %}
          {% set  qb_templates_install=qb_templates_install_row.vars.data  %}
          {% set qb_templates_install_row =qb_templates_install_row.children["checked"]  %}

          <tr id="rw{{ qb_templates_install.id }}">
              <td>
                  {{ form_widget(qb_templates_install_row   ) }}
              </td>
              <td>
                  {% if is_granted(role.install_show) %}
                      {% if returnButton!=null %}
                          <a href="{{ path(url.install_show, {'id': qb_templates_install.id,"fromTemplate":1}) }}"
                             class="edit">{{ qb_templates_install.name }}</a>
                          {% else %}
                      <a href="{{ path(url.install_show, {'id': qb_templates_install.id}) }}"
                         class="edit">{{ qb_templates_install.name }}</a>
                          {% endif %}
                  {% else %}
                      {{ qb_templates_install.name }}
                  {% endif %}
              </td>
              <td class="qbcore-tc">
                  <i
                     data-status="{{ qb_templates_install.installed ? 'false' : 'true' }}"
                     class="qbcur-status  {{ qb_templates_install.installed ? 'qbcore-green fa fa-fw fa-check' : 'qbcore-red fa fa-fw fa-close' }}"></i>
              </td>

          </tr>
      {% else %}
          <tr>
              <td colspan="12">{{ 'no_records_founds' | trans({}, 'qbabitcore') }}</td>
          </tr>
      {% endfor %}
{% endif %}

      <script>
          function QbabitTemplatesInstallJavascripts() {
              jQuery('#{{ searchForm.listData.all.vars.id }}').on('ifToggled', function () {
                  MKLib.checkedCtrl(jQuery(this), '.selitm', function (status, ele) {
                      ele.iCheck(status ? 'check' : 'uncheck');
                  });
              });
              jQuery('.del').on('click', function (e) {
                  e.preventDefault();
                  e.stopPropagation();
                  var list = jQuery('#{{ searchForm.vars.id }} .selitm:checked');
                  if (list.length) {
                      if (confirm("{{ 'js_instalar_seleccionados' | trans({}, 'template') }}")) {
                          MKLib.AjaxRequest("{{ path(url.install_do_all) }}", '{{ searchForm.vars.id }}', function (j) {

                              var status = parseInt(j.status);
                              if (status === 1) {

                                      MKLib.showMsg('alert-success', "{{ 'js_instalar_correctamente' | trans({}, 'template') }}");

                              } else {
                                  if (status === 2)
                                      MKLib.showMsg('alert-danger', "{{ 'js_acceso_denegado' | trans({}, 'qbabitcore') }}");
                                  else
                                      MKLib.showMsg('alert-danger', "{{ 'js_error_instalar' | trans({}, 'template') }}");
                              }
                              MKLib.unlockScreen();

                          }, 'json', 'POST');
                      }
                  } else
                      MKLib.showMsg('alert-danger', "{{ 'js_seleccionar_elemento' | trans({}, 'qbabitcore') }}");
              });
          }
              {% if app.request.isXmlHttpRequest == false %}
              window.addEventListener('load', function () {
                  QbabitTemplatesInstallJavascripts();
              }, false);
              {% else %}
              jQuery(function () {
                  QbabitTemplatesInstallJavascripts();
              });
          {% endif %}
      </script>



  {% endblock %}
