{% extends app.request.isXmlHttpRequest ? '@QbaBitCore/ajax.html.twig' : QbaBitLayoutToExtend('@QbaBitTemplate/adminlte/layout.html.twig', 'backend') %}
{% set tit = 'show_X' | trans({'%name%': tb_name | trans({},tb_name) }, 'qbabitcore') %}
{% set paramsUrl = {'slugSelected': app.request.get('slugSelected')} %}
{% set fake = QbaBitSeoTitle(tit) %}
{% block update %}

    <div class="box-header with-border">
        <div class="user-block">
            <span class="username" style="margin-left: 0px;"><h3 style="margin-bottom: 0;margin-top: 0;">{{ tit }}</h3></span>
        </div>
        <!-- /.user-block -->
        {% if is_granted(role.install_do) and error==false and installed==false %}
            <div class="box-tools">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownOptions"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-fw fa-cogs"></span>
                        {{ 'options' | trans({}, 'qbabitcore') }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOptions">

                                {% if is_granted( role.install_do ) %}
                                    <li>
                                        <a href="{{ path(url.install_do, {id:data.id}) }}" class="new"
                                           style="height: auto;"><i
                                                    class="fa fa-plus-square"></i>{{ 'install' | trans({}, 'template') }}
                                        </a>
                                    </li>
                                {% endif %}


                    </ul>
                </div>
            </div>
        {% endif %}
        <!-- /.box-tools -->
    </div>
    {{ form_start(images) }}
    <div class="row nmlf">
<div class="col-xs-12">

    {% if error==false %}
        <div class="row nmlf">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ "image"|trans([],"language") }}</th>
                    <td> {{ form_row(images.images) }}</td>
                </tr>

                <tr>
                    <th>{{ "name"|trans([],"template") }}</th>
                    <td>{{ data.name }}</td>
                </tr>
                <tr>
                    <th>{{ "alias"|trans([],"template") }}</th>
                    <td>{{ data.alias }}</td>
                </tr>
                <tr>
                    <th>{{ "scope"|trans([],"template") }}</th>
                    <td>{{ data.scope }}</td>
                </tr>
                <tr>
                    <th>{{ "description"|trans([],"template") }}</th>
                    <td>{{ data.description|raw }}</td>
                </tr>
                <tr>
                    <th>{{ "category"|trans([],"template") }}</th>
                    <td>{{ data.category.name|raw }}</td>
                </tr>
                <tr>
                    <th>{{ "installed"|trans([],"template") }}</th>
                    <td class="qbcore-tc" style="text-align: left">
                        <i
                                data-status="{{ installed ? 'false' : 'true' }}"
                                class="qbcur-status  {{ installed ? 'qbcore-green fa fa-fw fa-check' : 'qbcore-red fa fa-fw fa-close' }}"></i>
                    </td>
                </tr>

                </tbody></table>

        </div>
        {% else %}
          <div class="bg-danger">
              {{ errorMsg }}
          </div>
            {% endif %}
    </div></div>
    <div class="qb-btn-formater">

        {{ form_widget(images.back) }}
        {{ form_end(images) }}
    </div>

    <script>
        function QbabitTemplatesInstallJavascripts() {

            $(".new").on("click",function(e){

                e.preventDefault();
                e.stopPropagation();

                 MKLib.AjaxRequest(e.target.href, null, function (j) {


                                  if (j.error === false) {
                                      MKLib.showMsg('alert-success',j.msg);

        } else {

                MKLib.showMsg('alert-danger', j.errorMsg);

        }
        if (j.stringError) {
            MKLib.showMsg('alert-danger', j.stringError);
        }
        Util.renderErrors(j.error);
        MKLib.unlockScreen();
    }, 'json',"POST",true);


        });


        }
        {% if app.request.isXmlHttpRequest == false %}
        window.addEventListener('load', function () {
            QbabitTemplatesInstallJavascripts();
        }, false);
        {% else %}
        jQuery(function () {
            QbabitTemplatesInstallJavascripts();
        });
        {% endif %}
    </script>
{% endblock %}