<?php

return [
 {% for bundle, config in bundles %}
    {{ bundle }}::class=>[{% for k,v in config %}"{{ k }}"=>{{ v ? 'true' : 'false' }}{{ loop.last ? '' : ',' }}{% endfor %}]{{ loop.last ? '' : ',' }}
 {% endfor %}
];