<form method="post" action="{{ path('qb_currency_delete', {'id': qb_currency.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ qb_currency.id) }}">
    <button class="btn">Delete</button>
</form>