{{ form_start(form, { attr:{id:form.vars.id} }) }}
<div class="qb-frm">

    <div class="row nmlf">
        <div class="col-md-4">
            {{ form_row(form.name, {'attr':{'class': 'form-control'} }) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.code2, {'attr':{'class': 'form-control'} }) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.code3, {'attr':{'class': 'form-control'} }) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.numericCode, {'attr':{'class': 'form-control'} }) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.symbol, {'attr':{'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="row nmlf">
        <div class="col-md-4">
            {{ form_row(form.format, {'attr':{'class': 'form-control', 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'help_format' | trans({}, 'currency') } }) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.decimalSymbol, {'attr':{'class': 'form-control'} }) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.thousandsSymbol, {'attr':{'class': 'form-control'} }) }}
        </div>
        <div class="col-md-2 cntcheck">
            {{ form_row(form.active, {'attr':{'class': 'minimal'} }) }}
        </div>
    </div>

    <div class="qb-btn-formater">
        <button type="submit" id="QbCurrency_submit" name="QbCurrency[submit]"
                class="btn btn-primary">{{ "save" | trans({}, "qbabitcore") }}
        </button>
        <button type="button" id="QbCurrency_button" name="QbCurrency[button]"
                class="btn">{{ "cancel" | trans({}, "qbabitcore") }}
        </button>
    </div>
</div>
{{ form_end(form) }}

<script type="text/javascript">

    function QbabitJavascriptsCupones() {

        jQuery('[data-toggle="tooltip"]').tooltip();

        jQuery('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });

        jQuery("#{{ form.vars.id }}").on('submit', function (e) {
            e.preventDefault();
            var _this = jQuery(this);

            MKLib.AjaxRequest(_this.attr('action'), _this.attr('id'), function (j) {
                var status = parseInt(j.status);
                if (status === 1) {
                    MKLib.showMsg('alert-success', '{{ "js_datos_guardados" | trans({}, "corerror") }}');
                    {% if not form.vars.value.id %}
                    MKLib.resetForm("{{ form.vars.id }}");
                    {% endif %}
                } else {
                    if (status === 2) {
                        MKLib.showMsg('alert-danger', '{{ "js_acceso_denegado" | trans({}, "corerror") }}');
                    }
                }
                if (j.stringError) {
                    MKLib.showMsg('alert-danger', j.stringError);
                }
                Util.renderErrors(j.error);
                MKLib.unlockScreen();
            }, 'json');

        });

        jQuery("#QbCurrency_button").on('click', function () {
            MKLib.AjaxUpdate("{{ path("qb_currency_index", paramsUrl) | raw }}", 'dvupdate', '');
        });

    }

    {% if app.request.isXmlHttpRequest == false %}
    window.addEventListener('load', function () {
        QbabitJavascriptsCupones();
    }, false);
    {% else %}
    jQuery(function () {
        QbabitJavascriptsCupones();
    });
    {% endif %}
</script>