{% extends app.request.isXmlHttpRequest ? '@QbaBitCore/ajax.html.twig' : QbaBitLayoutToExtend('@QbaBitTemplate/adminlte/layout.html.twig', 'backend') %}
{% set modTitle = "currency" | trans({}, "currency") %}
{% set tit = 'edit_X' | trans({'%name%': modTitle }, 'qbabitcore') %}
{% block title %} {{ tit }} {% endblock %}
{% set paramsUrl = {'slugSelected': app.request.get('slugSelected')} %}

{% block update %}

<div class="box-header with-border">
    <div class="user-block">
        <span class="username" style="margin-left: 0px;"><h3 style="margin-bottom: 0;margin-top: 0;">{{ tit }}</h3></span>
    </div>
</div>

{% for tipo, mensajes in app.session.flashbag.all() %}
{% for mensaje in mensajes %}
<div class="{{ tipo }}">{{ mensaje }}</div>
{% endfor %}
{% endfor %}
{{ include('@QbaBitCurrency/QbCurrency/_form.html.twig') }}
{% endblock %}