{% extends app.request.isXmlHttpRequest ? '@QbaBitCore/ajax.html.twig' : QbaBitLayoutToExtend('@QbaBitTemplate/adminlte/layout.html.twig', 'backend') %}

{% set tit = 'list_X' | trans({'%name%': 'currency' | trans({},'currency') }, 'qbabitcore') %}
{% set paramsUrl = {'slugSelected': app.request.get('slugSelected')} %}
{% set fake = QbaBitSeoTitle(tit) %}

{% block update %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos del autor</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">
                    <div class="col-xs-6">
                        <div class="form-group">
                            {{ form_row(form.git_user) }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            {{ form_row(form.git_mail) }}      </div>
                    </div>
                    <div class="col-xs-12">
                        {{ form_row(form.git_default_db) }}
                    </div>


                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <div class="col-xs-2">
                        {{ form_row(form.button) }}
                    </div>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-2">
                                {{ form_row(form.commit) }}
                            </div>
                            <div class="col-xs-2">
                                {{ form_row(form.push) }}
                            </div>
                            <div class="col-xs-4">
                                {{ form_widget(form.pull) }}
                                <button id="pull_b" class="btn "><i class="fa fa-upload">Pull</i></button>
                            </div>
                        </div>



                    </div>

                </div>

            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Cambios locales</h3>
                        </div>

                        <div class="box-body">

                            <table>
                                <thead>
                                <tr>
                                    <th>Operacion</th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for change in db.changes %}
                                    <tr>
                                        <td>
                                            {{ change.operation }}
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>


                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">

                        </div>

                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Cambios source</h3>
                        </div>

                        <div class="box-body">
                            <table id="table_commits" class="table" style="display: none;">
                                <thead>
                                  <tr>
                                      <th>
                                          Codigo
                                      </th>
                                      <th>
                                          Autor
                                      </th>
                                      <th>
                                          Operacion
                                      </th>
                                  </tr>
                                </thead>
                                <tbody>

                                {% set sincronized = true %}
                                {% for value in db.commits %}

                                {% if  value.executed is same as(0) %}
                                    {% set sincronized =false %}
                                 <tr>

                                     <td>{{ value.code }}</td>
                                     <td>{{ value.author }}</td>
                                     <td><button type="button" id="{{ value.id }}" class="commitButton">Commit</button></td>
                                 </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                            {% if sincronized %}
                                El sistema se encuentra actualizado con el servidor.

                            {% endif %}


                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <script>
        function QbabitGitDBJavascripts() {
            {% if sincronized==false %}
            $("#table_commits").show();
            {% endif %}
           // qb_author_git_default_db.value = {{ db.id }};
          $("#qb_author_git_default_db").on("change",function(e
          ){
        $("form[name=qb_author]").submit();

          });

            $("#qb_author_push").on("click",function (e) {
                document.location.href = "{{ url("qb_git_db_push") }}";
            });

          $("#qb_author_commit").on("click",function (e) {


                     MKLib.AjaxRequest("{{ path("qb_git_db_commit",{"id":-1}) }}", '{{ form.vars.id }}', function (j) {


                               if (j.return === '1') {

                                   MKLib.showMsg('alert-success', j.msg);

                               } else {
                                       MKLib.showMsg('alert-danger', j.msg);

                               }
                         MKLib.unlockScreen();
                         if (j.return === '1')
                               document.location.href=  "{{ url("qb_git_db_index") }}";

                          }, 'json', 'GET');

                           });
            $(".commitButton").on("click",function (e) {

                var url = '{{ path("qb_git_db_commit",{"id":-1}) }}'.replace("-1",e.target.id);

                MKLib.AjaxRequest(url, '{{ form.vars.id }}', function (j) {


                    if (j.return === '1') {

                        MKLib.showMsg('alert-success', j.msg);

                    } else {
                        MKLib.showMsg('alert-danger', j.msg);

                    }
                    MKLib.unlockScreen();
                    if (j.return === '1')
                        document.location.href=  "{{ url("qb_git_db_index") }}";

                }, 'json', 'GET');

            });

        }
        {% if app.request.isXmlHttpRequest == false %}
        window.addEventListener('load', function () {
            QbabitGitDBJavascripts();
        }, false);
        {% else %}
        jQuery(function () {
            QbabitGitDBJavascripts();
        });
        {% endif %}
    </script>

{% endblock %}