{% extends 'base.html.twig' %}

{% block title %}QbCurrency{% endblock %}

{% block update %}
    <h1>QbCurrency</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ qb_currency.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ qb_currency.name }}</td>
            </tr>
            <tr>
                <th>Code2</th>
                <td>{{ qb_currency.code2 }}</td>
            </tr>
            <tr>
                <th>Code3</th>
                <td>{{ qb_currency.code3 }}</td>
            </tr>
            <tr>
                <th>NumericCode</th>
                <td>{{ qb_currency.numericCode }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ qb_currency.symbol }}</td>
            </tr>
            <tr>
                <th>DecimalSymbol</th>
                <td>{{ qb_currency.decimalSymbol }}</td>
            </tr>
            <tr>
                <th>ThousandsSymbol</th>
                <td>{{ qb_currency.thousandsSymbol }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ qb_currency.format }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ qb_currency.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('qb_currency_index') }}">back to list</a>

    <a href="{{ path('qb_currency_edit', {'id': qb_currency.id}) }}">edit</a>

    {{ include('qb_currency/_delete_form.html.twig') }}
{% endblock %}