{% extends "@QbaBitCore/Form/edit.html.twig" %}
{% block form_inner %}
    <div class="row nmlf">

        <div class="col-md-8">
            {{ form_row(form.name, {'attr':{'class': 'form-control'} }) }}
        </div>

    </div>


{% endblock %}