{% extends "QbaBitCoreBundle:Form:list.html.twig"  %}
 {% block search_columns %}
     <div class="col-md-9">
         <div class="form-group">
             {{ form_label(searchForm.name) }}
             {{ form_widget(searchForm.name) }}
         </div>
     </div>
     <div class="col-md-3">
         <div class="form-group">
             <label style="display: block;">&nbsp;</label>
             {{ form_row(searchForm.submit) }}
         </div>
     </div>

 {% endblock %}

 {% block columns %}

         <th>{{ knp_pagination_sortable(data, 'name' | trans({}, 'template_category'), 'c.name', {'direction': 'desc'}) }}</th>
 {% endblock %}
  {% block rows %}
      {% for qb_template_category_row in searchForm.listData.rows %}
          {% set  qb_template_category=qb_template_category_row.vars.data  %}
              <tr id="rw{{ qb_template_category.id }}">
              <td>
                  {{ form_widget(qb_template_category_row) }}
              </td>
              <td>
                  {% if is_granted(role.edit) %}
                      <a href="{{ path(url.edit, {'id': qb_template_category.id}) }}"
                         class="edit">{{ qb_template_category.name }}</a>
                  {% else %}
                      {{ qb_template_category.name }}
                  {% endif %}
              </td>
          </tr>
      {% else %}
          <tr>
              <td colspan="12">{{ 'no_records_founds' | trans({}, 'qbabitcore') }}</td>
          </tr>
      {% endfor %}

      <script>
          function QbabitLanguageJavascripts() {


          }
              {% if app.request.isXmlHttpRequest == false %}
              window.addEventListener('load', function () {
                  QbabitLanguageJavascripts();
              }, false);
              {% else %}
              jQuery(function () {
                  QbabitLanguageJavascripts();
              });
          {% endif %}
      </script>



  {% endblock %}
