{% extends 'QbaBitCoreBundle:Form:show.html.twig' %}

{% block update_inner %}


    <tr>
        <th>{{ "name"|trans([],"template_category") }}</th>
        <td>{{ entity.name }}</td>
    </tr>

{% endblock %}