<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ QbaBitSeoTitle() }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ QbaBitRenderMetas() | raw }}
    </head>
    <body {% block bodyAttr %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
