.nmlf {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.table > thead {
    background: #ecf0f5;
}

.qb-btn-formater{
    text-align: center;
}

.qb-btn-formater > *{
    margin-right: 7px;
}

.qb-btn-formater > *:last-child{
    margin-right: 0px;
}

.qb-btn-formater{
    padding-bottom: 15px;
}

.cntcheck > div {
    margin-top: 30px;
    margin-bottom: 0px;
}

.cntcheck div > div, .cntcheck_nomr div > div {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}