.opaco_block{ background: url(../images/opaca.png); }
.opaco_block .indicador{
    margin-top: 1%;
    border:solid 1px #000102;
    background: #ffffff;
    padding: 0.5%;
    width: 20%;
    margin: 10px auto auto auto;
}

.errorfield
{
    color: #a94442;
    font-size: 12px;
    margin-top: 3px;
}

.qbcore-tc{
    text-align: center;
}

.qbcore-green{
  color: #00a65a;
}

.qbcore-red{
    color: #ff0000;
}

.qb-pointer{
    cursor: pointer;
}