{% extends QbaBitLayoutToExtend('@QbaBitTemplate/adminlte/layout.html.twig', 'backend') %}

{% block update %}
    <div class="box-header with-border">
        <div class="user-block">
            <span class="username" style="margin-left: 0px;"><h3 style="margin-bottom: 0;margin-top: 0;">Título de prueba</h3></span></div>
    </div>
Esta es una prueba {{ test }}
<br />
{% for item in list%}
     {{ item.name }}<br />
{% endfor %}
    {{ dump(itemMenu) }}
    {{ dump(itemMenu.metadata) }}
    {{ dump(items) }}
{% endblock %}

