{% extends app.request.isXmlHttpRequest ? '@QbaBitCore/ajax.html.twig' : QbaBitLayoutToExtend('@QbaBitTemplate/adminlte/layout.html.twig', 'backend') %}

{% set tit = 'list_X' | trans({'%name%': tb_name | trans({},tb_name) }, 'qbabitcore') %}
{% set paramsUrl = {'slugSelected': app.request.get('slugSelected')} %}
{% set fake = QbaBitSeoTitle(tit) %}



{% block update %}

    <div class="box-header with-border">
        <div class="user-block">
            <span class="username" style="margin-left: 0px;"><h3 style="margin-bottom: 0;margin-top: 0;">{% block title_inner %}{{ tit }}{% endblock %}</h3></span>
        </div>
        {% set hasOperation =false %}

        {%  for rol in role %}
          {% if is_granted(rol) %}
        {% set hasOperation =true %}
        {% endif %}
        {% endfor %}

        <!-- /.user-block -->
        {% if hasOperation %}
            <div class="box-tools">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownOptions"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-fw fa-cogs"></span>
                        {{ 'options' | trans({}, 'qbabitcore') }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOptions">
                        {% if role is defined %}
                            {% if role.new is defined %}
                                {% if is_granted( role.new ) %}
                                    <li>
                                        <a href="{{ path(url.new, paramsUrl) }}" class="new"
                                           style="height: auto;"><i
                                                    class="fa fa-plus-square"></i>{{ 'new' | trans({}, 'qbabitcore') }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if role is defined %}
                            {% if role.delete is defined %}
                                {% if is_granted(role.delete ) %}
                                    <li>
                                        <a href="#" class="del"><i
                                                    class="fa fa-trash-o"></i>{{ 'delete' | trans({}, 'qbabitcore') }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% block dropdown_options %}{% endblock %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <!-- /.box-tools -->
    </div>


        <form action="{{ searchForm.vars.action==""? path(url.view, paramsUrl):searchForm.vars.action }}" name="{{ searchForm.vars.full_name }}" id="{{ searchForm.vars.id }}" method="post">
            <div class="row nmlf">
                {% block search_columns %}
                {% endblock %}
            </div>

{% block list %}

            {% endblock %}

            {% if data is defined %}
             <div class="qbcore-tc">{{ knp_pagination_render(data) }}</div>
            {% endif %}
         </form>
    {% block post_rows %}
        {% endblock %}

         <script type="text/javascript">
             function QbabitJavascripts() {



                 {#  jQuery('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                     checkboxClass: 'icheckbox_minimal-blue',
                     radioClass: 'iradio_minimal-blue'
                 }).trigger('click');//le pongo trigger('click') para corregir bug
#}
                 {% if role is defined %}
                 {% if role.delete is defined %}
                 {% if is_granted(role.delete ) %}
                 jQuery('#{{ searchForm.listData.all.vars.id }}').on('ifToggled', function () {
                     MKLib.checkedCtrl(jQuery(this), '.selitm', function (status, ele) {
                         ele.iCheck(status ? 'check' : 'uncheck');
                     });
                 });

                 jQuery('.del').on('click', function (e) {
                     e.preventDefault();
                     var list = jQuery('#{{ searchForm.vars.id }} .selitm:checked');
                     if (list.length) {
                         if (confirm("{{ 'js_eliminar_seleccionados' | trans({}, 'qbabitcore') }}")) {
                             MKLib.AjaxRequest("{{ path(url.delete_list) }}", '{{ searchForm.vars.id }}', function (j) {

                                 var status = parseInt(j.status);
                                 if (status === 1) {
                                     MKLib.deleteItem(j.ids, function () {
                                         MKLib.showMsg('alert-success', "{{ 'js_eliminados_correctamente' | trans({}, 'qbabitcore') }}");
                                     }, 'rw');
                                 } else {
                                     if (status === 2)
                                         MKLib.showMsg('alert-danger', "{{ 'js_acceso_denegado' | trans({}, 'qbabitcore') }}");
                                     else
                                         MKLib.showMsg('alert-danger', "{{ 'js_error_eliminar_datos' | trans({}, 'qbabitcore') }}");
                                 }
                                 MKLib.unlockScreen();

                             }, 'json', 'DELETE');
                         }
                     } else
                         MKLib.showMsg('alert-danger', "{{ 'js_seleccionar_elemento' | trans({}, 'qbabitcore') }}");
                 });
                 {% endif %}
                 {% endif %}
                 {% endif %}
                 MKAjax.setAjaxUpdateForm('{{ searchForm.vars.id }}', '', 'dvupdate', function () {
                     //Materialize.updateTextFields();
                 });
                 MKAjax.paginate('.pagination a, th a, .edit, .new', 'dvupdate', '{{ searchForm.vars.id }}');


             }

             {% if app.request.isXmlHttpRequest == false %}
             window.addEventListener('load', function () {
                 QbabitJavascripts();
             }, false);
             {% else %}
             jQuery(function () {
                 QbabitJavascripts();
             });
             {% endif %}
             {% block postScript %}
             {% endblock %}
         </script>

{% endblock %}