{% extends app.request.isXmlHttpRequest ? '@QbaBitCore/ajax.html.twig' : QbaBitLayoutToExtend('@QbaBitTemplate/adminlte/layout.html.twig', 'backend') %}
{% set modTitle = tb_name | trans({}, tb_name) %}
{% if isNew %}
    {% set tit = 'create_X' | trans({'%name%': modTitle }, 'qbabitcore') %}
{% else %}
    {% set tit = 'edit_X' | trans({'%name%': modTitle }, 'qbabitcore') %}
{% endif %}
        {% block title %} {{ tit }} {% endblock %}
{% set paramsUrl = {'slugSelected': app.request.get('slugSelected')} %}

{% block update %}

    <div class="box-header with-border">
        <div class="user-block">
            <span class="username" style="margin-left: 0px;"><h3 style="margin-bottom: 0;margin-top: 0;">{{ tit }}</h3></span>
        </div>
    </div>

    {% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
            <div class="{{ tipo }}">{{ mensaje }}</div>
        {% endfor %}
    {% endfor %}
    <div class="qb-frm">
    {{ form_start(form, { attr:{id:form.vars.id} }) }}
    {% block form_inner %}

    {% endblock %}
        <div class="qb-btn-formater">
            {% if form.submit is defined %}
           {{ form_widget(form.submit) }}
            {% endif %}
            {% if form.back is defined %}
            {{ form_widget(form.back) }}
            {% endif %}
        </div>
    {{ form_end(form) }}
    </div>
    <script type="text/javascript">

        function QbabitJavascriptsCupones() {

            jQuery('[data-toggle="tooltip"]').tooltip();

          /*  jQuery('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });*/

              jQuery("#{{ form.vars.id }}").on('submit', function (e) {
                e.preventDefault();
                var _this = jQuery(this);

                MKLib.AjaxRequest(_this.attr('action'), _this.attr('id'), function (j) {
                    var status = parseInt(j.status);
                    if (status === 1) {
                        MKLib.showMsg('alert-success', '{{ "js_datos_guardados" | trans({}, "corerror") }}');
                        {% if not form.vars.value.id %}
                        MKLib.resetForm("{{ form.vars.id }}");
                        {% endif %}
                    } else {
                        if (status === 2) {
                            MKLib.showMsg('alert-danger', '{{ "js_acceso_denegado" | trans({}, "corerror") }}');
                        }
                    }
                    if (j.stringError) {
                        MKLib.showMsg('alert-danger', j.stringError);
                    }
                    Util.renderErrors(j.error);
                    MKLib.unlockScreen();
                }, 'json',"POST",true);

            });

            {% if form.back is defined %}
            jQuery("#{{ form.back.vars.id }}").on('click', function (e) {
                e.stopPropagation();
                e.preventDefault();
                MKLib.AjaxUpdate("{{ path(url.view, paramsUrl) | raw }}", 'dvupdate', '');
            });
            {% endif %}

        }

        {% if app.request.isXmlHttpRequest == false %}
        window.addEventListener('load', function () {
            QbabitJavascriptsCupones();
        }, false);
        {% else %}
        jQuery(function () {
            QbabitJavascriptsCupones();
        });
        {% endif %}
    </script>
    {% block postScripts %}
        {% endblock %}
{% endblock %}