{% block form_row -%}
    <div class="form-group">
        {{- form_label(form) -}}         
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block button_row -%}    
        {{- form_widget(form) -}}   
{%- endblock button_row %}

{% block form_errors -%}
    {% if errors|length > 0 -%}    
        {%- for error in errors -%}
            <div class="errorfield">{{ error.message }}</div>
        {%- endfor -%}    
    {%- endif %}
{%- endblock form_errors %}