{% extends "@QbaBitCore/Form/common_list.html.twig" %}
{% block list %}
<div class="box-body table-responsive no-padding">
     {% block commenttable %}{% endblock %}
     <table class="table table-hover">
         <thead>
         <tr>
             <th style="width: 25px;">
                 {{ form_widget(searchForm.listData.all) }}
             </th>
             {% block columns %}
             {% endblock %}
         </tr>
         </thead>
         <tbody class="sortable_list">
             {% block rows %}

             {% endblock %}
         </tbody>
     </table>
</div>
<script type="text/javascript">
        function QbabitJavascriptsGrupoCliente() {
            $('.sortable_list').sortable({
                containment: ".table",
                cursor: 'move',
                opacity: '0.5',
                update: function(event, ui) {
                    ui.item.removeClass('dragable');
                    MKLib.blockScreen();
                    var serial = $(this).sortable("serialize", {attribute: "data-id"} );
                    $.ajax({
                        url: '{{ path('qb_grupo_cliente_sort_list')}}',
                        data : serial,
                        type : 'GET',
                        dataType : 'json',
                        success : function(json) {
                            MKLib.unlockScreen();
                        },
                        error : function(jqXHR, status, error) {
                            alert('Disculpe, existió un problema');
                        },
                        complete : function(jqXHR, status) {
                            MKLib.unlockScreen();
                        }
                    });
                }
            });
        }
        {% if app.request.isXmlHttpRequest == false %}
        window.addEventListener('load', function () {
            QbabitJavascriptsGrupoCliente();
        }, false);
        {% else %}
        jQuery(function () {
            QbabitJavascriptsGrupoCliente();
        });
        {% endif %}
    </script>
{% endblock %}