{% extends "@QbaBitCore/Form/common_list.html.twig" %}
{% block list %}


             <div class="box-body table-responsive no-padding">
                 <table class="table table-hover">
                     <thead>
                     <tr>
                         <th style="width: 25px;">
                             {{ form_widget(searchForm.listData.all) }}
                         </th>
                     {% block columns %}
                     {% endblock %}
                     </tr>
                     </thead>
                     <tbody>

                     {% block rows %}
                         {% endblock %}

                     </tbody>
                 </table>
             </div>
         {% endblock %}