{% extends app.request.isXmlHttpRequest ? '@QbaBitCore/ajax.html.twig' : QbaBitLayoutToExtend('@QbaBitTemplate/adminlte/layout.html.twig', 'backend') %}
{% set modTitle = tb_name | trans({}, tb_name) %}

    {% set tit = 'show_X' | trans({'%name%': modTitle }, 'qbabitcore') %}
        {% block title %} {{ tit }} {% endblock %}

{% block update %}
    <div class="qb-frm">
        <div class="col-xs-12">
            <h3>{{ tb_name|trans([],"language") }}</h3>
        </div>


    </div>
    <table class="table">
        <tbody>
        {% block update_inner %}
           {% endblock %}
        </tbody>
    </table>
    <div class="qb-btn-formater">
        {{ form_start(deleteForm) }}
   {{ form_widget(deleteForm.back) }}
   {{ form_widget(deleteForm.edit) }}
   {{ form_widget(deleteForm.delete) }}

        {{ form_end(deleteForm) }}
       </div>
    <script>
        function QbabitJavascriptsShow() {



            jQuery("#{{ deleteForm.back.vars.id }}").on('click', function (e) {
                e.stopPropagation();
                e.preventDefault();
                MKLib.AjaxUpdate("{{ path(url.view) | raw }}", 'dvupdate', '');
            });
            jQuery("#{{ deleteForm.edit.vars.id }}").on('click', function (e) {
                e.stopPropagation();
                e.preventDefault();
                MKLib.AjaxUpdate("{{ path(url.edit,{id:entity.id}) | raw }}", 'dvupdate', '');
            });

        }

        {% if app.request.isXmlHttpRequest == false %}
        window.addEventListener('load', function () {
            QbabitJavascriptsShow();
        }, false);
        {% else %}
        jQuery(function () {
            QbabitJavascriptsShow();
        });
        {% endif %}
    </script>
    </script>
    {#



    <a href="{{ path('qb_currency_edit', ) }}">edit</a>

    {{ include('qb_currency/_delete_form.html.twig') }}#}
{% endblock %}