{% extends "@QbaBitCore/Form/common_list.html.twig" %}
{% block list %}
            <div class="row nmlf">
                     {% block rows %}
                         {% endblock %}
            </div>
  {% endblock %}