{% extends 'base.html.twig' %}
{% block bodyAttr %}class="{{ ('hold-transition skin-blue sidebar-mini')  }}"{% endblock %}
{% block body %}

        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="index2.html" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>SE</b>LL</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Incre</b>SELL</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            {#<li class="dropdown messages-menu">#}
                            {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-envelope-o"></i>#}
                            {#<span class="label label-success">4</span>#}
                            {#</a>#}
                            {#<ul class="dropdown-menu">#}
                            {#<li class="header">You have 4 messages</li>#}
                            {#<li>#}
                            {#<!-- inner menu: contains the actual data -->#}
                            {#<ul class="menu">#}
                            {#<li><!-- start message -->#}
                            {#<a href="#">#}
                            {#<div class="pull-left">#}
                            {#<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">#}
                            {#</div>#}
                            {#<h4>#}
                            {#Support Team#}
                            {#<small><i class="fa fa-clock-o"></i> 5 mins</small>#}
                            {#</h4>#}
                            {#<p>Why not buy a new awesome theme?</p>#}
                            {#</a>#}
                            {#</li>#}
                            {#<!-- end message -->#}
                            {#<li>#}
                            {#<a href="#">#}
                            {#<div class="pull-left">#}
                            {#<img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">#}
                            {#</div>#}
                            {#<h4>#}
                            {#AdminLTE Design Team#}
                            {#<small><i class="fa fa-clock-o"></i> 2 hours</small>#}
                            {#</h4>#}
                            {#<p>Why not buy a new awesome theme?</p>#}
                            {#</a>#}
                            {#</li>#}
                            {#<li>#}
                            {#<a href="#">#}
                            {#<div class="pull-left">#}
                            {#<img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">#}
                            {#</div>#}
                            {#<h4>#}
                            {#Developers#}
                            {#<small><i class="fa fa-clock-o"></i> Today</small>#}
                            {#</h4>#}
                            {#<p>Why not buy a new awesome theme?</p>#}
                            {#</a>#}
                            {#</li>#}
                            {#<li>#}
                            {#<a href="#">#}
                            {#<div class="pull-left">#}
                            {#<img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">#}
                            {#</div>#}
                            {#<h4>#}
                            {#Sales Department#}
                            {#<small><i class="fa fa-clock-o"></i> Yesterday</small>#}
                            {#</h4>#}
                            {#<p>Why not buy a new awesome theme?</p>#}
                            {#</a>#}
                            {#</li>#}
                            {#<li>#}
                            {#<a href="#">#}
                            {#<div class="pull-left">#}
                            {#<img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">#}
                            {#</div>#}
                            {#<h4>#}
                            {#Reviewers#}
                            {#<small><i class="fa fa-clock-o"></i> 2 days</small>#}
                            {#</h4>#}
                            {#<p>Why not buy a new awesome theme?</p>#}
                            {#</a>#}
                            {#</li>#}
                            {#</ul>#}
                            {#</li>#}
                            {#<li class="footer"><a href="#">See All Messages</a></li>#}
                            {#</ul>#}
                            {#</li>#}
                            <!-- Notifications: style can be found in dropdown.less -->
                            {#<li class="dropdown notifications-menu">#}
                            {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-bell-o"></i>#}
                            {#<span class="label label-warning">10</span>#}
                            {#</a>#}
                            {#<ul class="dropdown-menu">#}
                            {#<li class="header">You have 10 notifications</li>#}
                            {#<li>#}
                            {#<!-- inner menu: contains the actual data -->#}
                            {#<ul class="menu">#}
                            {#<li>#}
                            {#<a href="#">#}
                            {#<i class="fa fa-users text-aqua"></i> 5 new members joined today#}
                            {#</a>#}
                            {#</li>#}
                            {#<li>#}
                            {#<a href="#">#}
                            {#<i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the#}
                            {#page and may cause design problems#}
                            {#</a>#}
                            {#</li>#}
                            {#<li>#}
                            {#<a href="#">#}
                            {#<i class="fa fa-users text-red"></i> 5 new members joined#}
                            {#</a>#}
                            {#</li>#}
                            {#<li>#}
                            {#<a href="#">#}
                            {#<i class="fa fa-shopping-cart text-green"></i> 25 sales made#}
                            {#</a>#}
                            {#</li>#}
                            {#<li>#}
                            {#<a href="#">#}
                            {#<i class="fa fa-user text-red"></i> You changed your username#}
                            {#</a>#}
                            {#</li>#}
                            {#</ul>#}
                            {#</li>#}
                            {#<li class="footer"><a href="#">View all</a></li>#}
                            {#</ul>#}
                            {#</li>#}
                            <!-- Tasks: style can be found in dropdown.less -->
                            {#<li class="dropdown tasks-menu">#}
                            {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-flag-o"></i>#}
                            {#<span class="label label-danger">9</span>#}
                            {#</a>#}
                            {#<ul class="dropdown-menu">#}
                            {#<li class="header">You have 9 tasks</li>#}
                            {#<li>#}
                            {#<!-- inner menu: contains the actual data -->#}
                            {#<ul class="menu">#}
                            {#<li><!-- Task item -->#}
                            {#<a href="#">#}
                            {#<h3>#}
                            {#Design some buttons#}
                            {#<small class="pull-right">20%</small>#}
                            {#</h3>#}
                            {#<div class="progress xs">#}
                            {#<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"#}
                            {#aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                            {#<span class="sr-only">20% Complete</span>#}
                            {#</div>#}
                            {#</div>#}
                            {#</a>#}
                            {#</li>#}
                            {#<!-- end task item -->#}
                            {#<li><!-- Task item -->#}
                            {#<a href="#">#}
                            {#<h3>#}
                            {#Create a nice theme#}
                            {#<small class="pull-right">40%</small>#}
                            {#</h3>#}
                            {#<div class="progress xs">#}
                            {#<div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"#}
                            {#aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                            {#<span class="sr-only">40% Complete</span>#}
                            {#</div>#}
                            {#</div>#}
                            {#</a>#}
                            {#</li>#}
                            {#<!-- end task item -->#}
                            {#<li><!-- Task item -->#}
                            {#<a href="#">#}
                            {#<h3>#}
                            {#Some task I need to do#}
                            {#<small class="pull-right">60%</small>#}
                            {#</h3>#}
                            {#<div class="progress xs">#}
                            {#<div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"#}
                            {#aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                            {#<span class="sr-only">60% Complete</span>#}
                            {#</div>#}
                            {#</div>#}
                            {#</a>#}
                            {#</li>#}
                            {#<!-- end task item -->#}
                            {#<li><!-- Task item -->#}
                            {#<a href="#">#}
                            {#<h3>#}
                            {#Make beautiful transitions#}
                            {#<small class="pull-right">80%</small>#}
                            {#</h3>#}
                            {#<div class="progress xs">#}
                            {#<div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"#}
                            {#aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                            {#<span class="sr-only">80% Complete</span>#}
                            {#</div>#}
                            {#</div>#}
                            {#</a>#}
                            {#</li>#}
                            {#<!-- end task item -->#}
                            {#</ul>#}
                            {#</li>#}
                            {#<li class="footer">#}
                            {#<a href="#">View all tasks</a>#}
                            {#</li>#}
                            {#</ul>#}
                            {#</li>#}
                            <!-- User Account: style can be found in dropdown.less -->

                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                &nbsp;
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    {#<div class="user-panel">#}
                    {#<div class="pull-left image">#}
                    {#<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">#}
                    {#</div>#}
                    {#<div class="pull-left info">#}
                    {#<p>Alexander Pierce</p>#}
                    {#<a href="#"><i class="fa fa-circle text-success"></i> Online</a>#}
                    {#</div>#}
                    {#</div>#}
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                     {#<ul class="sidebar-menu" data-widget="tree">#}


                    {#<li class="active treeview">#}
                    {#<a href="#">#}
                    {#<i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
                    {#<span class="pull-right-container">#}
                    {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                    {#</a>#}
                    {#<ul class="treeview-menu">#}
                    {#<li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>#}
                    {#<li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                    {#<a href="#">#}
                    {#<i class="fa fa-files-o"></i>#}
                    {#<span>Layout Options</span>#}
                    {#<span class="pull-right-container">#}
                    {#<span class="label label-primary pull-right">4</span>#}
                    {#</span>#}
                    {#</a>#}
                    {#<ul class="treeview-menu">#}
                    {#<li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a>#}
                    {#</li>#}
                    {#<li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>#}
                    {#<li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>#}
                    {#<li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed#}
                    {#Sidebar</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li>#}
                    {#<a href="pages/widgets.html">#}
                    {#<i class="fa fa-th"></i> <span>Widgets</span>#}
                    {#<span class="pull-right-container">#}
                    {#<small class="label pull-right bg-green">new</small>#}
                    {#</span>#}
                    {#</a>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                    {#<a href="#">#}
                    {#<i class="fa fa-pie-chart"></i>#}
                    {#<span>Charts</span>#}
                    {#<span class="pull-right-container">#}
                    {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                    {#</a>#}
                    {#<ul class="treeview-menu">#}
                    {#<li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>#}
                    {#<li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>#}
                    {#<li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>#}
                    {#<li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                    {#<a href="#">#}
                    {#<i class="fa fa-laptop"></i>#}
                    {#<span>UI Elements</span>#}
                    {#<span class="pull-right-container">#}
                    {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                    {#</a>#}
                    {#<ul class="treeview-menu">#}
                    {#<li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>#}
                    {#<li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>#}
                    {#<li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>#}
                    {#<li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>#}
                    {#<li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>#}
                    {#<li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                    {#<a href="#">#}
                    {#<i class="fa fa-edit"></i> <span>Forms</span>#}
                    {#<span class="pull-right-container">#}
                    {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                    {#</a>#}
                    {#<ul class="treeview-menu">#}
                    {#<li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a>#}
                    {#</li>#}
                    {#<li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a>#}
                    {#</li>#}
                    {#<li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                    {#<a href="#">#}
                    {#<i class="fa fa-table"></i> <span>Tables</span>#}
                    {#<span class="pull-right-container">#}
                    {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                    {#</a>#}
                    {#<ul class="treeview-menu">#}
                    {#<li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>#}
                    {#<li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li>#}
                    {#<a href="pages/calendar.html">#}
                    {#<i class="fa fa-calendar"></i> <span>Calendar</span>#}
                    {#<span class="pull-right-container">#}
                    {#<small class="label pull-right bg-red">3</small>#}
                    {#<small class="label pull-right bg-blue">17</small>#}
                    {#</span>#}
                    {#</a>#}
                    {#</li>#}
                    {#<li>#}
                    {#<a href="pages/mailbox/mailbox.html">#}
                    {#<i class="fa fa-envelope"></i> <span>Mailbox</span>#}
                    {#<span class="pull-right-container">#}
                    {#<small class="label pull-right bg-yellow">12</small>#}
                    {#<small class="label pull-right bg-green">16</small>#}
                    {#<small class="label pull-right bg-red">5</small>#}
                    {#</span>#}
                    {#</a>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                    {#<a href="#">#}
                    {#<i class="fa fa-folder"></i> <span>Examples</span>#}
                    {#<span class="pull-right-container">#}
                    {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                    {#</a>#}
                    {#<ul class="treeview-menu">#}
                    {#<li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>#}
                    {#<li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>#}
                    {#<li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>#}
                    {#<li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>#}
                    {#<li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a>#}
                    {#</li>#}
                    {#<li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>#}
                    {#<li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>#}
                    {#<li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>#}
                    {#<li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                    {#<a href="#">#}
                    {#<i class="fa fa-share"></i> <span>Multilevel</span>#}
                    {#<span class="pull-right-container">#}
                    {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                    {#</a>#}
                    {#<ul class="treeview-menu">#}
                    {#<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>#}
                    {#<li class="treeview">#}
                    {#<a href="#"><i class="fa fa-circle-o"></i> Level One#}
                    {#<span class="pull-right-container">#}
                    {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                    {#</a>#}
                    {#<ul class="treeview-menu">#}
                    {#<li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>#}
                    {#<li class="treeview">#}
                    {#<a href="#"><i class="fa fa-circle-o"></i> Level Two#}
                    {#<span class="pull-right-container">#}
                    {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                    {#</a>#}
                    {#<ul class="treeview-menu">#}
                    {#<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>#}
                    {#<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a>#}
                    {#</li>#}
                    {#<li class="header">LABELS</li>#}
                    {#<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>#}
                    {#<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>#}
                    {#<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>#}
                    {#</ul>#}
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <section class="content">
                    <div class="{% block cssContainer %}box box-widget{% endblock %}" id="dvupdate">
                        {% block update %}{% endblock %}
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer" style="text-align: center;">
                <strong>Copyright &copy; {{ 'now' | date('Y') }}.</strong> All rights reserved.
            </footer>
            <div class="control-sidebar-bg"></div>
        </div>

{% endblock %}

{% block stylesheets %}
    {% set linksCss = [asset('bundles/qbabittemplate/adminlte/components/bootstrap/dist/css/bootstrap.min.css'),
        asset('bundles/qbabittemplate/adminlte/components/font-awesome/css/font-awesome.min.css'),
        asset('bundles/qbabittemplate/adminlte/css/skins/_all-skins.min.css'),
        asset('bundles/qbabittemplate/adminlte/components/morris.js/morris.css'),
        asset('bundles/qbabittemplate/adminlte/components/jvectormap/jquery-jvectormap.css'),
        asset('bundles/qbabittemplate/adminlte/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'),
        asset('bundles/qbabittemplate/adminlte/components/bootstrap-daterangepicker/daterangepicker.css'),
        asset('bundles/qbabittemplate/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'),

        asset('bundles/qbabittemplate/adminlte/components/select2/dist/css/select2.css'),
        asset('bundles/qbabitcore/css/toastr.min.css'),
        asset('bundles/qbabittemplate/adminlte/css/AdminLTE.min.css'),
        asset('bundles/qbabitcore/css/core.css'),
        asset('bundles/qbabittemplate/adminlte/css/custom.css'),


        asset('bundles/qbabitecommerce/css/style.css'),
    ] %}
    {#
            'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic',#}
    {% for rs in linksCss %}
        {% set fake = QbaBitAssetsAddCssSource(rs) %}
    {% endfor %}
    {{ QbaBitAssetsRenderCssSources() | raw }}
{% endblock %}

{% block javascripts %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/qbabittemplate/adminlte/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('bundles/qbabittemplate/adminlte/js/respond.min.js') }}"></script>
    <![endif]-->

    {% set linksJs = [

    asset('bundles/qbabitcore/js/jquery.min.js'),
    asset('bundles/qbabittemplate/adminlte/components/jquery-ui/jquery-ui.min.js'),
    asset('bundles/qbabittemplate/adminlte/components/bootstrap/dist/js/bootstrap.min.js'),
    asset('bundles/qbabittemplate/adminlte/components/raphael/raphael.min.js'),
    asset('bundles/qbabittemplate/adminlte/components/morris.js/morris.min.js'),
    asset('bundles/qbabittemplate/adminlte/components/jquery-sparkline/dist/jquery.sparkline.min.js'),
    asset('bundles/qbabittemplate/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'),
    asset('bundles/qbabittemplate/adminlte/components/fastclick/lib/fastclick.js'),
    asset('bundles/qbabittemplate/adminlte/js/adminlte.min.js'),
    asset('bundles/qbabitcore/js/toastr.min.js'),
    asset('bundles/qbabitcore/js/functions.js'),

    asset('bundles/qbabittemplate/adminlte/plugins/jQueryUi/jquery-ui.min.js'),

    ] %}
    {% for rs in linksJs %}
        {% set fake = QbaBitAssetsAddScriptSource(rs) %}
    {% endfor %}

    {{ QbaBitAssetsRenderScriptSource() | raw }}
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
{% endblock %}
{% set fake = QbaBitAddMeta('viewport', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no') %}